body {
        background-size: cover;
        background-attachment: fixed;
        background-image: linear-gradient(#1094BD, #E2F6FD);

}

@media screen and (min-width: 601px) {
    .navbarli{font-size: 17px}
    .center{font-size: 40px}
    .bio{font-size: 17px; width: 30%}
    #bio{font-size: 40px}
    .apakek{font-size: 15px;}
    .desc{font-size: 20px;}
    .h1fb{font-size: 44px;}
    .feedback{font-size: 17px;}
    .textregis{font-size: 45px;}
    .textform{font-size: 17px;}
    #button{font-size: 17px;}
}

@media screen and (max-width: 600px) {
    .navbarli{font-size: 10px;}
    .center{font-size: 25px;}
    .bio{font-size: 10px; width: 50%}
    #bio{font-size: 10px}
    .apakek{font-size: 10px;}
    .desc{font-size: 10px;}
    .h1fb{font-size: 25px;}
    .feedback{font-size: 10px;}
    .textregis{font-size: 25px;}
    .textform{font-size: 10px;}
    #button{font-size: 10px;}
}


#navbar1{
        float: left;
        padding-top: 0px;
        padding-bottom: 0px;
}

.navbarli{
        font-family:'Raleway', sans-serif;
        color: black;
        margin:auto;
       
}

.header {
        margin: auto;
        text-align: center;
        background-color: lightblue;
}

.center {
        font-family:'Raleway', sans-serif;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        }


#foto1{
        position: absolute;
        top: 10%;
        left: 43%;
}

.bio {
        position: absolute;
        background: rgba(0, 0, 0, 0.6); /* Black background with 0.5 opacity */
        color: white;
        height: 30%;
        padding: 5px;
        border-radius: 20px;
        text-align: center;
        font-family:'Raleway', sans-serif;
        max-width: 100%;
        height: auto;
        margin: auto;
        top: 53%;
        left: 35%;
}

#bio{
        font-family:'Raleway', sans-serif;
}

.apakek{
        font-family:'Raleway', sans-serif;
        background: rgba(251, 216, 243, 0.8);
        border-radius: 20px;
        box-shadow: 5px 5px 5px grey;
        padding: 10px;
        margin: auto;
        text-align: center;
        max-width: 100%;
        height: auto;
}

.header2{
        padding-top: 10px;
        text-align: center;
        opacity: 0.9;
}

.desc{
        font-family:'Raleway', sans-serif;
        max-width: 100%;
        height: auto;
}


.feedback{
        background: rgba(47, 79, 79, 0.5); 
        color: white;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
        font-family:'Raleway', sans-serif;
        max-width: 100%;
        max-height: auto;
}

.feedbackform{
        height: 350px; 
        width: 800px; 
        max-width: 100%;
}


.textregis{
        font-family:'Raleway', sans-serif;
        text-align: center;
}

.allform{
        background: rgba(255, 228, 196, 0.5); 
        color: black;
        padding: 20px;
        border-radius: 20px;
        max-width: 100%;
        max-height: auto;
}

.textform{
        font-family:'Raleway', sans-serif;
        text-align: left;
        max-width: 100%;
        width: 100%;
}

#button{
        font-family:'Raleway', sans-serif;
}



#submit{
	box-sizing: border-box;
  	resize: vertical;
    background-color: palevioletred;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 12px;
}	
